nav {
  background-color: #ddd;
  padding: 5px;
}

nav ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

nav > ul > li {
  display: inline-block;
  margin-right: 10px;
  position: relative;
}

nav li ul {
  display: none;
}

nav ul li:hover ul {
  display: block;
  position: absolute;
  padding-top: 5px;
  left: -5px;
  z-index: 10;
}

nav li ul li {
  background-color: #eee;
  padding: 5px;
}

nav a,
nav > ul > li {
  color: rgb(175,10,30);
  text-decoration: underline;
  font-weight: bold;
}
